@model X.PagedList.IPagedList<SoilReportApp.Web.Models.UserViewModel>
@using X.PagedList.Mvc.Core

@{
    ViewData["Title"] = "List of all users";
}
<h2>@ViewData["Title"]</h2>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Username</th>
        <th>Device Id</th>
        <th>Email</th>
        <th>Phone</th>
        <th>User Type</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Username</td>
            <td>@user.DeviceId</td>
            <td>@user.Email</td>
            <td>@user.Phone</td>
            <td>@user.UserType.ToString()</td>
        </tr>
    }
    </tbody>
</table>

<!-- Page Number Label -->
<div class="d-flex justify-content-between align-items-center">
    <span class="fw-bold">Page Number: @Model.PageNumber / @Model.PageCount</span>

    <!-- Pagination Controls -->
    @Html.PagedListPager(Model, page => Url.Action("Users", new { page }),
        new PagedListRenderOptions { DisplayLinkToPreviousPage = PagedListDisplayMode.IfNeeded, DisplayLinkToNextPage = PagedListDisplayMode.IfNeeded })
</div>